<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        {% block head_meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="description" content="{% block head_meta_description %}{% endblock head_meta_description %}">
            <meta name="viewport" content="width=device-width">
        {% endblock %}

        {% block head_css %}
            {% stylesheets
                '@JanivHTML5StarterBundle/Resources/public/css/*'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" >
            {% endstylesheets %}
        {% endblock %}

        {% block head_js %}
            {% javascripts
                '@JanivHTML5StarterBundle/Resources/public/js/modernizr-2.6.2.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block chromeframe %}
            <!--[if lt IE 9]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        {% endblock %}

        {% block body %}{% endblock %}

        {% block body_js %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% javascripts '@JanivHTML5StarterBundle/Resources/public/js/jquery-1.9.1.min.js' %}{{ asset_url }}{% endjavascripts %}"><\/script>')</script>
        {% endblock %}

        {% block body_js_analytics %}
            {% if google_analytics_id is defined %}
                <script>
                    var _gaq=[['_setAccount','{{ google_analytics_id }}'],['_trackPageview']];
                    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
